<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.emo_framework.examples"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10" />

    <!-- This .apk has no Java code itself, so set hasCode to false. -->
    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <activity android:name="com.emo_framework.EmoActivity"
                       android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="main.nut" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <!-- uses-permission android:name="android.permission.VIBRATE"/ -->
    <!-- uses-permission android:name="android.permission.INTERNET" / -->
</manifest> 
