<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.emo_framework.examples"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Launcher"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.emo_framework.EmoActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
        </activity>

        <activity-alias android:name=".ShapeExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="shape_example.nut" />
        </activity-alias>

        <activity-alias android:name=".SpriteExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="sprite_example.nut" />
        </activity-alias>

        <activity-alias android:name=".TextSpriteExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="textsprite_example.nut" />
        </activity-alias>

        <activity-alias android:name=".TileExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="tiles_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".TiledMapExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="mapsprite_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".AtlasExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="atlas_example.nut" />
        </activity-alias>

        <activity-alias android:name=".FontSpriteExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="fontsprite_example.nut" />
        </activity-alias>

        <activity-alias android:name=".SpriteAnimationExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="animation_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".PeriodicUpdateExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="periodic_update_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".RotateModifierExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="modifier_rotate_example.nut" />
        </activity-alias>

        <activity-alias android:name=".MoveModifierExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="modifier_move_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".ModifierEventExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="modifier_event.nut" />
        </activity-alias>
        
        <activity-alias android:name=".MultipleModifierExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="modifier_multiple.nut" />
        </activity-alias>

        <activity-alias android:name=".PointSpriteExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="pointsprite_example.nut" />
        </activity-alias>

        <activity-alias android:name=".Box2DHelloWorld"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="box2d_helloworld.nut" />
        </activity-alias>

        <activity-alias android:name=".PhysicsHelloWorld"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_helloworld.nut" />
        </activity-alias>
        
        <activity-alias android:name=".PhysicsCircleExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_circle.nut" />
        </activity-alias>
        
        <activity-alias android:name=".PhysicsSoftCircleExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_softcircle.nut" />
        </activity-alias>
        
        <activity-alias android:name=".PhysicsSoftPolygonExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_soft_polygon.nut" />
        </activity-alias>
        
        <activity-alias android:name=".PhysicsSensorExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_sensor.nut" />
        </activity-alias>

        <activity-alias android:name=".PhysicsAddExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_add_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".MotionEventExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="motion_event.nut" />
        </activity-alias>
        
        <activity-alias android:name=".MultiTouchExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="motion_event_multi.nut" />
        </activity-alias>
        
        <activity-alias android:name=".SensorExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="sensor_event.nut" />
        </activity-alias>

        <activity-alias android:name=".AnalogControllerExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="analog_controller_example.nut" />
        </activity-alias>
        <activity-alias android:name=".DigitalControllerExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="digital_controller_example.nut" />
        </activity-alias>
        <activity-alias android:name=".MultipleControllerExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="multiple_controllers_example.nut" />
        </activity-alias>

        <activity-alias android:name=".PhysicsDistanceJointExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_distancejoint.nut" />
        </activity-alias>
        <activity-alias android:name=".PhysicsRevoluteJointExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_revolutejoint.nut" />
        </activity-alias>
        <activity-alias android:name=".PhysicsPrismaticJointExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_prismaticjoint.nut" />
        </activity-alias>
        <activity-alias android:name=".PhysicsPulleyJointExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_pulleyjoint.nut" />
        </activity-alias>
        <activity-alias android:name=".PhysicsGearJointExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_gearjoint.nut" />
        </activity-alias>
        <activity-alias android:name=".PhysicsLineJointExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_linejoint.nut" />
        </activity-alias>
        <activity-alias android:name=".PhysicsWeldJointExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_weldjoint.nut" />
        </activity-alias>
        <activity-alias android:name=".PhysicsMouseJointExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_mousejoint.nut" />
        </activity-alias>
        <activity-alias android:name=".PhysicsContactExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_contact.nut" />
        </activity-alias>
        <activity-alias android:name=".PhysicsCameraMovingExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="physics_camera_moving.nut" />
        </activity-alias>

        <activity-alias android:name=".AudioExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="audio_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".AudioChannelExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="audio_channel_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".AudioVolumeExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="audio_volume_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".DatabaseExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="database_example.nut" />
        </activity-alias>

        <activity-alias android:name=".TransitionFadeExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="transition_fade_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".TransitionMoveExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="transition_move_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".TransitionScaleExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="transition_scale_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".HTTPAccessExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="http_access_example.nut" />
        </activity-alias>

        <activity-alias android:name=".CompileScriptExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="compile_script_example.nut" />
        </activity-alias>
        
        <activity-alias android:name=".BlendfuncExample"
            android:targetActivity="com.emo_framework.EmoActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                       android:value="emo-android" />
            <meta-data android:name="emo.script.runtime"
                       android:value="runtime.nut" />
            <meta-data android:name="emo.script.main"
                       android:value="blendfunc_example.nut" />
        </activity-alias>
        </application>
    <!-- uses-permission android:name="android.permission.VIBRATE" / -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
